<div class="form-control">
  <form action="/answer" method="get">
    <input class="form-control" type="text" name="question" placeholder="What is your question?">
    <input type="submit" value="Ask!" class="btn btn-primary btn-block">
  </form>
</div>
