// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
  border: 1px solid black;
  margin: 10px 0;
  width: 300px;
  padding: 10px 20px;
}

.answer {
  border: 1px solid black;
  margin: 10px 0;
  width: 300px;
  padding: 10px 20px;
}

p {
  margin: 0 !important;
  padding: 0;
}

.link-button {
  background-color: #246AD8;
  border-radius: 50%;
  width: 80px;
  height: 30px;
}
